
body {
    height: 100vh;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}

.content {
    margin: auto;
    max-width: 600px;
    padding: 10px;
}

/* Title */
h1 {

    text-align: center;
    font-size: 3em;
    font-weight: 400;
    position: relative;
    padding-bottom: 20px;
}

h1::after {
    text-align: center;
    display: block;
    content: '';
    width: 60%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 20%;
}

/* Btn */
.btn {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 60px;
    transition: all .2s ease-in-out;
}

.btn:hover {
    color: #4E1C00;
    font-weight: 300;
    transform: scale(1.1);
}

/* Arabic Quotes*/
h2 {
    text-align: right;
    font-size: 2.5em;
    line-height: .9em;
    font-family: 'Scheherazade', serif;
}

/* English Quotes */
h3 {
    font-weight: 300;
}

/* Author */
h4 {
    text-align: right;
    font-weight: 300;
    color: #4E1C00;
}

