
body {
    margin: 0 auto;
    background-color: black;
    color: lightgrey;
    font-family: 'Oswald', sans-serif;
}

.content {
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    line-height: .9em;
    font-family: 'Scheherazade', serif;
}