body {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    max-width: 800px;
    background-color: #FAFAFA;
    color: #1F1F1F;

}

/* ----- Title ----- */
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    position: relative;
    padding-bottom: 20px;
    margin-top: 0;
}

h1::after {
    text-align: center;
    display: block;
    content: '';
    width: 60%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 20%;
}

/* ----- CONTENT -----  */
.content {
    margin: auto;
    position: relative;
    padding: 30px;
    margin-bottom: 0;
}

/* Delete button */
#delete {
    font-size: 1.5em;
    margin: 0;
    color: lightgray;
    transition: .2s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}

#delete:hover {
    color: #1D31FA;
}

/* Arabic Quotes*/
h2 {
    margin-top: 40px;
    text-align: right;
    font-size: 2.5em;
    line-height: .9em;
    font-family: 'Scheherazade', serif;
}

/* English Quotes */
h3 {
    font-weight: 300;
}

/* Author */
h4 {
    text-align: right;
    font-weight: 300;
    color: #4E1C00;
    line-height: 0;
}

/* ----- REQUEST -----*/
.request {
    max-width: 800px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Title */
.reqTitle {
    text-align: center;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

/* Btn */
.btn {
    margin: auto;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    cursor: default;
    border: 1px solid black;
    font-size: 1em;
    width: 40%;
    margin-bottom: 20px;
}

.btn:hover {
    color: #1D31FA;
    transform: scale(0.9);
    border: 1px solid #1D31FA;
}

.btn:focus {
    outline: none;
    border: none;
}

/* input */
input {
    width: 60%;
    display: block;
    margin: auto;
    padding: 5px;
    border: 1px solid #4E1C00;
    margin-bottom: 10px;

}
input:first-child{
    margin-top: 10px;
}
input[placeholder]{
    text-align: center;
    color: #4E1C00;
}

/* CREATE BUTTON */
#create {
    margin: auto;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    cursor: default;
    border: 1px solid black;
    font-size: 1em;
    width: 40%;
    margin-top: 20px;
}

#create:hover {
    color: #1D31FA;
    transform: scale(0.9);
    border: 1px solid #1D31FA;
}

#create:focus {
    outline: none;
    border: none;
}